<div class="container">
    <h1>My Qouotes</h1>
    <hr>
    
    <ul *ngFor='let quotes of quotes;let i=index'>
        <li >
          {{quotes.name}} due on {{quotes.completeDate|date|uppercase}} <br>
          
        </li>
        <button (click)='toggleDetails(i)' class="btn btn-success">More</button>
        <app-quote-detail *ngIf='quotes.showDescription' [quote]="quotes" (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
    </ul> 
      
    <br>
    <app-quote-form (addQuote)="addNewQuotes($event)"></app-quote-form>
    <p></p>
</div>